@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.mincho {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.primary-background{
  background-color: #d3ccbc !important;
}

.secondary-background {
  background-color: #486a83 !important;
}

.accent-background {
  background-color: #bfa177 !important;
}

.custom-offcanvas {
  width: 70vw !important; /* 画面幅の50%に設定 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
